.main-todo {
  background-color: #fbfbfb;
  margin-top: 50px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}

.search-bar {
  margin-top: 30px;
}

.task-number {
  font-size: 28px;
  color: #75776a;
}

.user {
  display: inline;
  font-size: 20px;
}

.nav-user {
  margin-top: 20px;
}

.circled {
  /*position: relative;*/
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: solid #000 5px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 50px 50px rgba(0,0,0,0.5);
}

h1 {
  text-align: center;
  font-size: 80px;
}

.due-date {
  display: inline;
  float: right;
  clear: right;
  margin: 0;
}

.due-date-title {
  color: red;
  margin-top: 5px;
}

.add-del-button {
  width: 103px;;
}

.finished-column {
  width: 3px;
}

.test {
  width: 400px;
}

.task-count {
  padding-top: 120px;
  text-align: center;
}

#goTodo {
  width: 180px;
  font-size: 30px;
  margin-top: 100px;
}

#title {
  margin-top: 200px;
}
